body {
    background-Image: url('https://patchwiki.biligame.com/images/sr/0/08/f92wbdglbb4s50y8q32mvmsd1xiqt6m.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

h2,
h3,
h5 {
    color: #D8D8D8;
    text-align: center;
}

table{
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
}

th,td{
    background-color:darkgray;
    border: 1px solid #999;
    text-align: center;
    padding: 5px 0px;
}

.box{
    margin: auto;
    width: 500px;
    box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(74, 74, 74, 0.971);
}


.table-title,
.table-title td {
    background-color: #2e2e2e;
}

.note {
    color: #0069d2;
    font-size: x-small;
}

.note-div {
    width: 90%;
    color: #fff;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}