* {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

body {
    background-Image: url('https://upload-bbs.miyoushe.com/upload/2024/02/06/384095529/9be1d20d8d5560c430b5beca7d1f8236_4425164365689859142.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

table a {
    color: black;
}

h2,
h3,
h5 {
    color: #D8D8D8;
    text-align: center;
}

table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
}

th,
td {
    background-color: darkgray;
    border: 1px solid #999;
    text-align: center;
    padding: 5px 0px;
}

.info {
    margin: 0 auto;
    text-align: center;
}

.info button {
    line-height: 20px;
}

.lang {
    display: inline-block;
    font-size: large;
    width: 100px;
    color: aquamarine;
    cursor: pointer;
}

.info h3 {
    line-height: 20px;
    max-width: 50px;
    display: inline;
}

.box {
    margin: auto;
    /* min-width: 500px; */
    max-width: 600px;
    box-shadow: 0px 0px 0px 10px #00000033;
    background-color: #4a4a4ac7;
}

.loading {
    vertical-align: middle;
    height: 60px;
    width: 60px;
}

.box span {
    vertical-align: middle;
    font-size: large;
    color: #D8D8D8;
    padding-right: 5px;
}

.table-title,
.table-title td {
    background-color: #2e2e2e;
}

.note {
    color: #0069d2;
    font-size: x-small;
}

.note-div {
    width: 90%;
    color: #fff;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.note-div iframe {
    width: 100%;
    height: 210px;
    border: none;
}

#picture {
    background-color: #4a4a4ac7;
    padding: 10px;
    margin: 0 auto;
    width: 95%;
    max-width: 950px;
}

#picture td {
    border: 1px solid #999;
    text-align: center;
    width: 15%;
}

#picture img {
    margin-top: 20px;
    width: 100%;
    height: auto;
}

#picture table {
    margin-top: 10px;
    width: 100%;
    height: 100px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: #fff;
}

.warn {
    margin: 0 auto;
    width: 95%;
    background-color: #ffff0035;
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    margin-top: 10px;
}

.warn div {
    width: 7px;
    background-color: yellow;
}

.warn a{
    font-weight: 550;
    margin-left: 10px;
}

.warnA {
    margin: 0 auto;
    width: 95%;
    background-color: #ffff0035;
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}

.warnA div {
    width: 5px;
    background-color: yellow;
}

.warnA a{
    font-weight: 550;
    margin-left: 10px;
}