body {
    background-Image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* 主体 */
.main {
    width: 80%;
    max-width: 1000px;
    height: 100%;
    margin: 20px 0;
    text-align: center;
    box-sizing: border-box;
    background-color: #4c4c4cc7
}

.updata {
    color:chocolate;
    font-style: italic;
    text-decoration: underline;
}

.info {
    margin-top: 5px;
}

.info a {
    color: #b3ccff;
    text-decoration: none;
    border-bottom: solid #000;

}

/* 主体-语言选择 */
.lang {
    margin: 0 auto;
    margin-top: 10px;
    line-height: 30px;
}

.lang button {
    display: inline-block;
    font-size: large;
    font-weight: 600;
    width: 100px;
    padding: 0;
    line-height: 25px;
    background-color: #55555555;
    border: solid #000;
    border-radius: 5px;
    cursor: pointer;
}

.lang [data-selent="1"] {
    border: solid #0069d2;
    background-color: #009999
}

.lang button:hover {
    background-color: #00cece;
}

/* 主体-公告类 */
.tip {
    margin: 0 auto;
    width: 95%;
    background-color: #00ffff35;
    font-weight: 700;
    text-align: left;
    margin-top: 10px;
}

.tip a {
    color: #b3ccff;
    text-decoration: underline
}

.warn {
    margin: 0 auto;
    width: 95%;
    background-color: #ffff0035;
    font-weight: 700;
    text-align: left;
}

.warn a {
    color: #262c38;
    text-decoration: underline
}

.error {
    margin: 0 auto;
    width: 95%;
    background-color: #ff000035;
    font-weight: 700;
    text-align: left;
}

.error a {
    color: #262c38;
    text-decoration: underline
}

.server {
    margin: 0 auto;
    width: 95%;
    color: #f00;
    text-align: left;
}

/* 主体-表格 */
table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
}

thead td,
.table-title {
    background-color: #2e2e2e;
}

td {
    background-color: darkgray;
    border: 1px solid #999;
    text-align: center;
    padding: 5px 0px;
}

tbody[data-gencell] td {
    width: calc(100% / 3);
}

/******/
.phone {
    display: none;
}

.note-mark {
    color: #0069d2;
    font-size: x-small;
}

.note {
    width: 90%;
    color: #fff;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

/* 立绘覆盖页 */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.overlay-box {
    width: 70%;
    max-width: 700px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px #000000cc;
}

.overlay-box tbody td {
    width: 20%;
}


[data-imgdata="no"] {
    display: block;
    width: 100%;
}

[data-imgdata="two"] {
    display: inline-block;
    width: 49%;
}

[data-imgdata="center"] {
    display: inline-block;
    width: 65%;
}

.closebtn {
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: #878787;
}

/* 适配手机端 */
@media (max-width: 768px) {
    .main {
        width: 100%;
        margin: 0;
    }

    [data-phone="0"] {
        display: none;
    }

    .phone {
        display: inline;
    }

    .overlay-box {
        width: 100%;
    }
}